@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap");
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
}

html {
  background: #eee;
}

header,
footer {
  background: #123C5C;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr 3rem;
  height: 100%;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  background: #226EA8;
  color: white;
  cursor: pointer;
  transition: 300ms;
}

.btn:hover {
  background: #19527e;
}

.header {
  background: #123C5C;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__logo {
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 300ms;
}

.header__logo:hover {
  color: #ddd;
}

.header__nav,
.header__list,
.header__item,
.header__link {
  height: 100%;
}

.header__list {
  list-style: none;
  display: flex;
  align-items: center;
}

.header__item + .header__item {
  margin-left: 0.5rem;
}

.header__link {
  display: grid;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 0 0.5rem;
  transition: 300ms;
}

.header__link:hover {
  background: rgba(0, 0, 0, 0.3);
  color: #ddd;
}

.product-overview {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 1rem;
  border-radius: 5px;
}

.product-overview__img {
  object-fit: contain;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 400px;
  max-height: 400px;
  flex-shrink: 0;
}

.product-overview__info-container {
  margin-left: 2rem;
}

.product-overview__title {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.product-overview__price {
  font-weight: 700;
  font-size: 1rem;
  color: #333;
  margin-bottom: 1rem;
}

.product-overview__description {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  line-height: 1.25rem;
}

.product-overview__btn {
  padding: 0.5rem 1rem;
  border: none;
  background: #226EA8;
  color: white;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .product-overview__img {
    width: 300px;
  }
}
@media (max-width: 800px) {
  .product-overview {
    flex-direction: column;
  }

  .product-overview__info-container {
    margin-left: 0;
  }

  .product-overview__img-container {
    margin-bottom: 2rem;
  }
}
.products {
  padding: 2.5rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  list-style: none;
}

@media (max-width: 1100px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
}
.product-listing {
  background: white;
  padding: 1.5rem;
  border-radius: 5px;
  transition: 300ms;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  display: grid;
  grid-template-rows: 400px auto auto;
}

.product-listing:hover {
  transform: scale(1.025);
}

.product-listing:hover .product-listing__img:first-child {
  transform: scale(1.05);
}

.product-listing__img {
  height: 400px;
  max-width: 100%;
  object-fit: contain;
  transition: 300ms;
  margin-top: auto;
  margin: 0 auto;
}

.product-listing__text {
  padding: 1rem 0;
}

.product-listing__title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.product-listing__link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: 300ms;
}

.product-listing__link:hover {
  color: #333;
}

.product-listing__price {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 700;
}

.product-listing__description {
  font-size: 0.8rem;
}

.product-listing__btn {
  justify-self: flex-start;
  align-self: flex-end;
}

.cart-item {
  display: flex;
  background: white;
  border-radius: 5px;
  padding: 1rem;
}
.cart-item__img-container {
  flex-shrink: 0;
  width: 8rem;
  height: 8rem;
}
.cart-item__img {
  object-fit: contain;
  width: 100%;
  max-height: 100%;
}
.cart-item__content {
  width: 100%;
}
.cart-item__title-price-container {
  display: flex;
  justify-content: space-between;
}
.cart-item__title {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.cart-item__link {
  text-decoration: none;
  color: black;
  transition: 300ms;
}
.cart-item__link:hover {
  color: #333;
}
.cart-item__price {
  margin-left: 2rem;
}
.cart-item__label {
  font-size: 0.8rem;
}

.cart-item + .cart-item {
  margin-top: 1rem;
}

.cart-checkout {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: white;
  border-radius: 5px;
}
.cart-checkout__sub-total {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
}
.cart-checkout__sub-total-label {
  font-size: 1.1rem;
  margin-right: 0.5rem;
}
.cart-checkout__btn {
  width: 100%;
  padding: 0.5rem 0;
  background: #f0b432;
  border: none;
  cursor: pointer;
  font-weight: 700;
  transition: 300ms;
}
.cart-checkout__btn:hover {
  background: #eeab1a;
}

.category {
  height: 10rem;
  background: #123C5C;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 300ms;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}
.category:hover {
  transform: scale(1.05);
}
.category__title {
  color: white;
  font-weight: 800;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
}
.category__title::after {
  content: "";
  height: 3px;
  width: 50%;
  background: #f0b432;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
}

.hero {
  background: #ddd;
}
.hero__container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero__title {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 800;
  color: #123C5C;
  margin-bottom: 1rem;
  position: relative;
}
.hero__title::after {
  content: "";
  height: 3px;
  width: 50px;
  background: #f0b432;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
}
.hero__btn {
  border: none;
  background: #226EA8;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms;
}
.hero__btn:hover {
  background: #1e6093;
}

.products__container {
  background: #ddd;
}

.categories {
  padding: 4rem 0;
  display: grid;
  gap: 1rem;
}
@media (min-width: 600px) {
  .categories {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .categories {
    grid-template-columns: repeat(4, 1fr);
  }
}

.cart-screen__checkout,
.cart-screen__items,
.cart-screen__empty-msg {
  margin-top: 1rem;
}

.cart-screen__items,
.cart-screen__empty-msg {
  width: 100%;
}

@media (min-width: 700px) {
  .cart-screen {
    display: flex;
  }
  .cart-screen__items {
    margin-right: 1rem;
  }
}