@use '../config' as *;

.cart-checkout {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: white;
  border-radius: 5px;

  &__sub-total {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
  }

  &__sub-total-label {
    font-size: 1.1rem;
    margin-right: 0.5rem;
    
  }

  &__btn {
    width: 100%;
    padding: 0.5rem 0;
    background: $accent;
    border: none;
    cursor: pointer;
    font-weight: 700;
    transition: 300ms;

    &:hover {
      background: darken($accent, 5)
    }
  }
}