.cart-screen {
  margin: 1rem auto;

  &__checkout {
    margin-top: 1rem;
  }

  &__cart {
    width: 100%;
  }
}

@media(min-width: 700px) {
  .cart-screen {
    display: flex;
  
    &__checkout {
      margin-top: 0;
      margin-left: 1rem;
    }
  }
}