@use 'config' as *;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
}

html {
  background: #eee;
}

header,
footer {
  background: #123c5c;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr 8rem;
  height: 100%;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  background: $color2;
  color: white;
  cursor: pointer;
  transition: 300ms;
  border-radius: 5px;
}

.btn:hover {
  background: darken($color2, 10);
}

.btn--black {
  background: #222;
}

.btn--black:hover {
  background: darken(#222, 10);
}
